@color-white: #FFFFFF;
@color-blue: #103AFA;
@color-red: #FA1010;
@color-black: #000000;
@color-yellow: #FAFA10;

.MakeRandom(@min: 0, @max: @min+1, @int: 0) {
  .checkInt() {
      @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
      @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
  }
  .checkInt();
  @randNum: @base + @min;
}

@font-face {
  font-family: linebeam;
  src: url(../fuentes/linear_beam/Linebeam.ttf);
}

@font-face{
  font-family: grotesk;
  src: url(../fuentes/SpaceGrotesk-SemiBold.ttf);
}

@font-face {
  font-family: haptik;
  src: url(../fuentes/GT-Haptik-Black.woff2);
}

* {
  cursor: url(data:image/utils/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAATCAMAAAB4HKeYAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAADRJREFUeAFjwAsYsfMYQYgRLsLICKWhskxMTDAmCEMAwhQmEEDho8szUiqPaR+xfIR7sQMAR6QAjICqvMYAAAAASUVORK5CYII=), auto;
  //font-family: 'Source Sans Pro', sans-serif;
  //font-family: linebeam;
  font-family: grotesk;
}

input[type=button] {
  border: 2px solid black;

  &:hover {
    background-color: @color-blue;
  }
}

body {
  margin: 0%;
  background: rgb(27,7,253);
background: radial-gradient(circle, rgba(27,7,253,1) 0%, rgba(255,0,0,0.4822303921568627) 67%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  color: white;
  text-align: left;
  height: 50px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.908000700280112) 46%);
  border: 1px solid @color-white;
}

.header h2 {
  position: absolute;
  width: 190%;
  height: 40%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 2.7vh;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 20s linear infinite;
  -webkit-animation: scroll-left 20s linear infinite;
  animation: scroll-left 20s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    /* Browser bug fix */
    -webkit-transform: translateX(100%);
    /* Browser bug fix */
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    /* Browser bug fix */
    -webkit-transform: translateX(-100%);
    /* Browser bug fix */
    transform: translateX(-100%);
  }
}


.controlsHeader {
  width: 100%;
  background: rgb(250,250,16);
background: linear-gradient(90deg, rgba(250,250,16,1) 0%, rgba(255,0,0,0.908000700280112) 50%, rgba(250,250,16,1) 74%);
  display: inline-flex;

  .biography {
    width: 50%;
    color: @color-black;
    border-color: @color-black;
    border-style: double;
    text-align: center;

    .textBiography {
      appearance: none;
      margin: 0;
      width: 100%;
      color: @color-black;
      font-size: 130%;
      margin-top: 1%;
    }

    .textBiography:hover{
      background: @color-blue;
    }
  }

  .left-inputs-container1 {
    width: 50%;
    cursor: pointer;
    border: 3px double black;
    flex: 1;

    input {
      display: inline-flex;
      cursor: pointer;
      margin-left: 3%;
    }

    input[type=radio] {
      width: 20px;
      height: 20px;
      background-color: @color-yellow;
      margin-top: 1%;

      &.radioFunInTheGarden:hover {
        cursor: url('../images/fun.png'), pointer;
      }
    }

    input[type=button] {
      height: 30;
    }

    #buttonContactMe:hover {
      cursor: url('../images/utils/email.png'), pointer;
    }

    span {
      margin-left: 3%;

      &:hover {
        background-color: @color-blue;
      }
    }
  }
}

.fakeUnderHeader {
  height: 120px;
  position: relative;
  width: 100%;
  z-index: -1;
}

.mainContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}


.projectVideo, .projectFoto {
  height: 405px;
  width: 600px;
  background: @color-white;
  position: fixed;
  cursor: move;
  display: grid;
  -webkit-box-shadow: 10px 10px 20px 17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px 17px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px 17px rgba(0, 0, 0, 0.75);
  z-index: 1;

  .projectTitle {
    float: left;
    padding: 1px;
  }
  .projectControllers {
    float: right;

    input {
      border: 2px solid black;
      cursor: pointer;
    }
  }
  &:hover{
    border-radius: 10px;
    filter: saturate(260%);
    cursor: move;
  }

  &.gif{
    opacity: 0.9;
    width: 400px;
    height: 400px;
  }

  &.ilustration{
    opacity: 0.9;
    width: 340px;
    height: 498px;
  }

  &.grafittiVertical{
    width: 500px;
    height: 700px;
  }

  &.grafittiHorizontal{
    width: 900px;
    height: 450px;
  }

  &.downhere{
    width: 600px;
    height: 300px;
  }

  &.linephoto{
    width: 300px;
    height: 150px;
  }
}

.projectVideo{
  z-index: 6;
}

.projectFoto{
  height: 250px;
  width: 400px;
  color: @color-white;
}


#tunelFoto2{
  background-image: url('../images/tunel/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#tunelFoto3{
  background-image: url('../images/tunel/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#tunelFoto4{
  background-image: url('../images/tunel/4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#tunelFoto1{
  background-image: url('../images/tunel/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


//Gifs (imagenes)
#gif1{
  background-image: url('../images/gifs/gif1.gif');
  background-size: cover;
  background-repeat: no-repeat;

}

#gif2{
  background-image: url('../images/gifs/gif2.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

//Ilustraciones (imagenes)
#ilustracion1{
  background-image: url('../images/ilustraciones/1.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#ilustracion2{
  background-image: url('../images/ilustraciones/2.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#ilustracion3{
  background-image: url('../images/ilustraciones/3.png');
  background-size: contain;
  background-repeat: no-repeat;
}

//Proyecto grafitti abandoned (imagenes)
#grafittiAbandoned1{
  background-image: url('../images/abandonedGrafitti/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#grafittiAbandoned2{
  background-image: url('../images/abandonedGrafitti/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#grafittiAbandoned3{
  background-image: url('../images/abandonedGrafitti/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


//Proyecto Down Here (imagenes)
#downhere1{
  background-image: url('../images/downhere/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#downhere2{
  background-image: url('../images/downhere/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#downhere3{
  background-image: url('../images/downhere/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#downhere4{
  background-image: url('../images/downhere/4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#downhere5{
  background-image: url('../images/downhere/5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#downhere6{
  background-image: url('../images/downhere/6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#downhere7{
  background-image: url('../images/downhere/7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


#linephoto1{
  background-image: url('../images/linephoto/foto1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#linephoto2{
  background-image: url('../images/linephoto/foto2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#linephoto3{
  background-image: url('../images/linephoto/foto3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#linephoto5{
  background-image: url('../images/linephoto/foto5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#linephoto6{
  background-image: url('../images/linephoto/foto6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#linephoto7{
  background-image: url('../images/linephoto/foto7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#linephoto8{
  background-image: url('../images/linephoto/foto8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#linephoto9{
  background-image: url('../images/linephoto/foto9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#linephoto10{
  background-image: url('../images/linephoto/foto10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#linephoto11{
  background-image: url('../images/linephoto/foto11.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.canvasControllers {
  position: relative;
  text-align: center;
  height: 40px;
  flex: 1;
  input {
    cursor: pointer;
  }
  a {
    color: @color-blue;
    background-color: yellow;
  }
  .creator {
    font-size: 12px;
  }
}

#myCanvas {
  border: 10px inset @color-black;
  border-top-width: 2px;
  border-radius: 3%;
  background: rgb(16, 58, 250);
  background: linear-gradient(120deg, rgba(16, 58, 250, 0.7483368347338936) 7%, rgba(255, 255, 255, 0.47102591036414565) 51%, rgba(30, 69, 250, 1) 98%);
}

input[type=range] {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 12px;
  width: 120px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 2px 2px 2px #000000, 1px 3px 3px #0d0d0d;
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 12px;
  width: 120px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 2px 2px 2px #000000, 1px 3px 3px #0d0d0d;
  /* Add cool effects to your sliders! */
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 12px;
  width: 120px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 2px 2px 2px #000000, 1px 3px 3px #0d0d0d;
  /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

svg{
  width: 100%;
  height: 100px;
}

path{
  stroke: #2727e6;
  stroke-width: 10px;
  stroke-linecap: round;
  fill: none;
}

.tooltipRadio{
  border: 4px solid black;
  position: absolute;
  background-color: blue;
  color: white;
  right: 600px;
  display: none;
}

@media screen and (max-width: 600px) {
  .header h2{
    font-size: 15px;
  }

  .biography{
    font-size: 12px;
  }
}

@media screen and (max-width: 420px) {
  .header h2{
    font-size: 13px;
    line-height: 20px;
  }

  .curveFooter{
    //display: none;
  }

  .biography{
    font-size: 12px;
  }

  .projectVideo, .projectFoto {
    height: 125px;
    width: 200px;
    background: @color-white;
    position: fixed;
    cursor: move;
    display: grid;
    -webkit-box-shadow: 10px 10px 20px 17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px 17px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px 17px rgba(0, 0, 0, 0.75);
    z-index: 1;
  
    .projectTitle {
      float: left;
      padding: 1px;
    }
    .projectControllers {
      float: right;
      input {
        border: 2px solid black;
        cursor: pointer;
      }
    }
    &:hover{
      border-radius: 10px;
      filter: saturate(260%);
      cursor: move;
    }
  
    &.gif{
      opacity: 0.9;
      width: 200px;
      height: 200px;
    }
  
    &.ilustration{
      opacity: 0.9;
      width: 200px;
      height: 300px;
    }
  
    &.grafittiVertical{
      width: 150px;
      height: 300px;
    }
  
    &.grafittiHorizontal{
      width: 300px;
      height: 150px;
    }
  
    &.downhere{
      width: 250px;
      height: 125px;
    }
  
    &.linephoto{
      width: 300px;
      height: 150px;
    }
  }

  .projectVideo{
    width: 300px;
    height: 150px;
  }

  #illustration3{
    background-size: 90%;
  }


}