@color-white: #FFFFFF;
@color-blue: #103AFA;
@color-red: #FA1010;
@color-black: #000000;
@color-yellow: #FAFA10;

* {
  cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAATCAMAAAB4HKeYAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAADRJREFUeAFjwAsYsfMYQYgRLsLICKWhskxMTDAmCEMAwhQmEEDho8szUiqPaR+xfIR7sQMAR6QAjICqvMYAAAAASUVORK5CYII=),auto;
}

.header {
    background: @color-red;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }