* {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAATCAMAAAB4HKeYAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAADRJREFUeAFjwAsYsfMYQYgRLsLICKWhskxMTDAmCEMAwhQmEEDho8szUiqPaR+xfIR7sQMAR6QAjICqvMYAAAAASUVORK5CYII=), auto;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  margin: 0%;
}
#cursor {
  display: block;
  position: absolute;
  height: 2px;
  width: 2px;
  border-radius: 1px;
  background-color: transparent;
  top: -100px;
  left: -100px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header {
  color: white;
  text-align: left;
  height: 50px;
  overflow: hidden;
  background: #000000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.header h2 {
  position: absolute;
  width: 190%;
  height: 40%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 35px;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 20s linear infinite;
  -webkit-animation: scroll-left 20s linear infinite;
  animation: scroll-left 20s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    /* Browser bug fix */
    -webkit-transform: translateX(100%);
    /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    /* Browser bug fix */
    -webkit-transform: translateX(-100%);
    /* Browser bug fix */
    transform: translateX(-100%);
  }
}
.content {
  padding: 16px;
}
.controlsHeader {
  width: 100%;
  background-color: #FA1010;
  height: 70px;
  display: inline-flex;
}
.controlsHeader .left-inputs-container1 {
  width: 50%;
  cursor: pointer;
}
.controlsHeader .biography {
  width: 50%;
  background-color: #FAFA10;
}
.controlsHeader .biography p {
  margin: 0;
  color: #000000;
  border-color: #000000;
  border-style: double;
  border-width: 4px;
}
input[type=radio] {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: #FAFA10;
  margin: 0;
}
input {
  display: inline-flex;
  cursor: pointer;
  margin-left: 3%;
}
.fakeUnderHeader {
  background: #FFFFFF;
  height: 130px;
  width: 100%;
}
.mainContainer {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  text-align: center;
}
.project {
  height: 400px;
  width: 300px;
  background: #FFFFFF;
  position: fixed;
  left: 500px;
  cursor: move;
  display: none;
  -webkit-box-shadow: 10px 10px 20px 17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px 17px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px 17px rgba(0, 0, 0, 0.75);
}
#myCanvas {
  border: 2px inset;
  margin-top: 1%;
}
